# Build outputs
dist/
*.html
!index.html

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc

# Node.js (if used)
node_modules/
package-lock.json
